@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global base styling */
html,
body {
  @apply bg-brand-bg text-brand-dark antialiased font-sans;
}

body {
  @apply min-h-screen;
}

a {
  @apply underline-offset-2;
}
